
.image {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    border-radius: 10px;
   

}
.slider {
    position: relative;
    /* height: 100vh; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.forward_arrow {
   position: absolute; 
   top: 50%;
   right: 32px;
   font-size: 3rem;
   color: #000;
   z-index: 10;
   cursor: pointer;
   user-select: none;

}
.back_arrow {
    position: relative ;
    top: 50%;
    right: 32px ;
    font-size: 3rem;
    color: #000000;
    z-index: 1;
    cursor: pointer;
    user-select: none;
}